In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [17]:
import warnings
warnings.filterwarnings('ignore')

In [18]:
dataset=pd.read_csv(r"D:\Housing.csv")
dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [19]:
dataset.nunique()

price               219
area                284
bedrooms              6
bathrooms             4
stories               4
mainroad              2
guestroom             2
basement              2
hotwaterheating       2
airconditioning       2
parking               4
prefarea              2
furnishingstatus      3
dtype: int64

In [20]:
dataset.shape

(545, 13)

In [21]:
dataset.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [22]:
cols_to_use=['area','price','bedrooms','bathrooms','stories','mainroad','parking','guestroom']
dataset=dataset[cols_to_use]
dataset.head()

   area     price  bedrooms  bathrooms  stories mainroad  parking guestroom
0  7420  13300000         4          2        3      yes        2        no
1  8960  12250000         4          4        4      yes        3        no
2  9960  12250000         3          2        2      yes        2        no
3  7500  12215000         4          2        2      yes        3        no
4  7420  11410000         4          1        2      yes        2       yes

In [24]:
dataset.isna().sum()

area         0
price        0
bedrooms     0
bathrooms    0
stories      0
mainroad     0
parking      0
guestroom    0
dtype: int64

In [26]:
dataset.dropna(inplace=True)
dataset.head()

   area     price  bedrooms  bathrooms  stories mainroad  parking guestroom
0  7420  13300000         4          2        3      yes        2        no
1  8960  12250000         4          4        4      yes        3        no
2  9960  12250000         3          2        2      yes        2        no
3  7500  12215000         4          2        2      yes        3        no
4  7420  11410000         4          1        2      yes        2       yes

In [30]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.head()

,area,price,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes
0,7420,13300000,4,2,3,2,1,0
1,8960,12250000,4,4,4,3,1,0
2,9960,12250000,3,2,2,2,1,0
3,7500,12215000,4,2,2,3,1,0
4,7420,11410000,4,1,2,2,1,1

In [34]:
X=dataset.drop('price',axis=1)
y=dataset['price']

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2)

In [38]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression().fit(X_train,y_train)

In [41]:
reg.score(X_test,y_test)

0.5856598289326492

In [43]:
reg.score(X_train,y_train)

0.592926024851864

In [45]:
#L1 Regularisation (LASSO Regression)
from sklearn import linear_model
lasso_reg=linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_reg.fit(X_train,y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [47]:
lasso_reg.score(X_test,y_test)

0.5856475012787306

In [49]:
lasso_reg.score(X_train,y_train)

0.592926010067196

In [51]:
from sklearn.linear_model import Ridge
ridge_reg=Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(X_train,y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [53]:
ridge_reg.score(X_test,y_test)

0.5661166571337071

In [54]:
ridge_reg.score(X_train,y_train)

0.5745567852749967